@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="taskController as tc">

    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-3 panel panel-primary" style="padding:0px;">
            <div class="panel-heading"> <h4 style="text-align:center">Add a Task</h4></div>
            <div class="panel-body">
                <form name="taskInput">
                    <label for="task">Task</label><br />
                    <input type="text" name="task" placeholder="Enter a task" ng-model="form.Task" /><br /><br />
                    <label for="notes">Notes(Optional)</label><br />
                    <textarea name="notes" placeholder="Leave some notes" ng-model="form.Notes"></textarea><br /><br />
                    <label for="due">Deadline</label><br />
                    <input type="datetime-local" name="due" ng-model="form.Due" /><br /><br />

                    <button type="submit" class="btn btn-primary" ng-click="tc.addTask(form)">Add</button>

                </form>

            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 panel panel-primary" style="padding:0px;">
            <div class="panel-heading">
                <h4 style="text-align:center">Tasks</h4>
            </div>
            <div class="panel-body">

                <div ng-repeat="task in tc.tasks" ng-if="task.Completed == false">
                    <h5><input type="checkbox" /> {{task.Task}}</h5><button class="pull-right" ng-click="tc.deleteTask(task)">Delete</button>
                    <h6>{{task.Notes}}</h6>
                    <h6>{{task.Due}}</h6>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 panel panel-primary" style="padding:0px;">
            <div class="panel-heading">
                <h4 style="text-align:center">Completed Tasks</h4>
            </div>
            <div class="panel-body">

                <div ng-repeat="task in tc.tasks" ng-if="task.Completed == true">
                    <h3>{{task.Task}}</h3>
                    <h5>{{task.Notes}}</h5>
                    <h5>{{task.DateModified}}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>



@section scripts{
    <script>
        (function () {
            angular.module('myApp').factory('taskService', TaskService);

            TaskService.$inject = ['$http'];

            function TaskService($http) {
                var vm = this;
                return {
                    getTasks: _getTasks,
                    addTasks: _addTasks,
                    updateTasks: _updateTasks,
                    deleteTasks: _deleteTasks
                }

                //GET TASKS
                function _getTasks() {
                    return $http.get('/api/tasks')
                        .then(onSuccessGetTasks)
                        .catch(onError);
                }

                function onSuccessGetTasks(response) {
                    return response.data;
                }
                //END GET TASKS

                //ADD TASKS
                function _addTasks(payload) {
                    return $http.post('/api/tasks', payload)
                        .then(onSuccessPostTasks)
                        .catch(onError);
                }

                function onSuccessPostTasks(response) {
                    return response.data;
                }
                //END POST TASKS

                //UPDATE TASKS
                function _updateTasks(payload) {
                    return $http.put('/api/tasks', payload)
                        .then(onSuccessUpdateTasks)
                        .catch(onError);
                }

                function onSuccessUpdateTasks(response) {
                    return response.data;
                }
                //END UPDATE TASKS

                //DELETE TASKS
                function _deleteTasks(id) {
                    return $http.delete('/api/tasks/' + id)
                        .then(onSuccessDeleteTasks)
                        .catch(onError);
                }

                function onSuccessDeleteTasks(response) {
                    return response.data;
                }

                //END DELETE TASKS

                function onError() {
                    console.log("ERROR!");
                }
            }
        })();


    </script>

    <script>
        (function () {
            angular.module('myApp').controller('taskController', TaskController);

            TaskController.$inject = ['$scope', 'taskService'];

            function TaskController($scope, taskService) {
                var vm = this;
                vm.$scope = $scope;
                vm.taskService = taskService;
                vm.tasks = [];
                vm.selectedTask = null;
                vm.deleteTask = _deleteTask;

                vm.addTask = _addTask;

                render();

                function render() {
                    taskService.getTasks()
                        .then(onSuccessGetTasks);
                }

                function onSuccessGetTasks(data) {
                    vm.tasks = data;
                }

                //ADD TASKS SECTION
                function _addTask(form) {
                    taskService.addTasks(form)
                        .then(onSuccessPostTasks);
                    vm.selectedTask = form;

                }

                function onSuccessPostTasks(response) {
                    vm.selectedTask.ID = response;
                    vm.tasks.push(vm.selectedTask);
                    vm.selectedTask = null;
                }
                // END ADD TASKS SECTION


                //DELETE TASKS SECTION
                function _deleteTask(task) {
                    taskService.deleteTasks(task.ID)
                        .then(onSuccessDeleteTasks);
                    vm.selectedTask = task;
                }

                function onSuccessDeleteTasks() {
                    var index = vm.tasks.indexOf(vm.selectedTask);
                    vm.tasks.splice(index);
                }
                //END DELETE TASKS SECTION
            }

        })();

    </script>


}
