@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="taskController as tc">

    <div ng-repeat="task in tc.tasks">
        <p>{{task.Task}}</p>
    </div>

</div>



@section scripts{
    <script>
        (function () {
            angular.module('myApp').factory('taskService', TaskService);

            TaskService.$inject = ['$http'];

            function TaskService($http) {
                var vm = this;
                return {
                    getTasks: _getTasks
                    //addTasks: _addTasks,
                    //updateTasks: _updateTasks,
                    //deleteTasks: _deleteTasks
                }

                //GET TASKS
                function _getTasks() {
                    return $http.get('/api/tasks')
                        .then(onSuccessGetTasks)
                        .catch(onError);
                }

                function onSuccessGetTasks(response) {
                    return response.data;
                }
                //END GET TASKS

                function onError() {
                    console.log("ERROR!");
                }
            }
        })();


    </script>

    <script>
        (function (){
        angular.module('myApp').controller('taskController', TaskController);

        TaskController.$inject = ['$scope', 'taskService'];

        function TaskController($scope, taskService) {
            var vm = this;
            vm.$scope = $scope;
            vm.taskService = taskService;
            vm.tasks = null;


            render();

            function render() {
                taskService.getTasks()
                    .then(onSuccessGetTasks);
            }

            function onSuccessGetTasks(data) {
                vm.tasks = data;
            }



        }

        })();

    </script>


}
